body {
    background-image: url("../img/bookBackground.png");
    background-size: cover;
}

h1, h2 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    margin: 0;
}

h4 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: #2A2A2A;
}

h1 {
    color: #DEC434;
    font-weight: 600;
}

h2 {
    color: #DECF7D;
    margin-bottom: -1.7rem;
}

.centerpanel {
    background-color: #FFFFEA;
}

.wrapper {
    height: 100%;
}

.message {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 1.2rem;
    color: #6A6A6A;
}